* {
    margin: 0 auto;
    padding: 0;
}
body {
    width: 100vw;
    overflow-x: hidden;
}
#wrap {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 1280px;
    height: 600px;
}
.container main {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px rgb(210, 210, 210);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.mon_select_box {
    position: absolute;
    top: 50px;
}
.mon_select_box span {
    font-size: 1.5rem;
    text-align: center;
    line-height: 30px;
}
.mon_select_box button {
    width: 30px;
    text-align: center;
    line-height: 30px;
    border: none;
    background-color: transparent;
    background-color: rgb(225, 225, 225);
    border-radius: 5px;
    height: 30px;
}
table {
    position: absolute;
    top: 35%;
    width: 80%;
    border-collapse: collapse;
}
td,th {
    height: 30px;
    text-align: center;
}